.site-footer {
    margin-top: 2rem;
    padding: 2rem 0;
    color: $color__light;
    background: $color__dark;

    .content-container {
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;
    }

    .footer-logo {
        width: 200px;
        height: auto;
    }

    .footer-nav {
        .menu {
            margin: 0;
            padding: 0;
            display: flex;
            gap: 2rem;
            list-style-type: none;

            a {
                color: $color__light;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}