body {
    font-family: $font__main;
    font-size: 18px;
    line-height: 1.5;
}

header {
    &.site-header {
    }
}

main {
    &.site-main {
    }
}

section {
    &:not(.page-hero) {
        margin-top: 5rem;
    }
}
.content-container {
    margin: 0 auto;
    max-width: 1160px;

    @media screen and (max-width: 1159px) {
        width: 90%;
    }
}

footer {
    &.site-footer {
    }
}