.about-content {
    .about-content_image {
        float: left;
        margin-right: 2rem;
        margin-bottom: 1.5rem;
        max-width: 50%;
        img {
            width: 100%;
            height: auto;
        }
        @media screen and (max-width: 768px) {
            float: none;
            margin-right: 0;
            max-width: 100%;
        }
    }
}
.about-content_text {
    
}
.process-list {
    margin: 0 auto;
    padding: 0;
    max-width: 80%;

    li {
        padding-bottom: .75rem;
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 2.5rem;

        &::marker {
            font-weight: bold;
            font-size: 2.5rem;
            color: $color__primary;
        }
        &:nth-child(even) {
            margin-left: 4rem;
        }
        .wp-block-list {
            margin-left: 1rem;
            list-style-type: none;

            li {
                font-weight: normal;
                font-size: 1.25rem;
                line-height: 1.75rem;
            }
        }
    }
}