.service-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    @include box-shadow();
    @include border-radius();
    border: 1px solid $color__background-hr;

    .service-title {
        margin-top: 0;
        margin-bottom: 1rem;;
        flex-shrink: 1;
        font-size: 2em;
        color: $color__primary;
        text-align: center;
    }
    ul {
        padding-right: 1rem;
        flex-shrink: 1;
    }
    .service-price {
        margin-top: auto;
        font-size: 1.5em;
        color: $color__primary;
        text-align: center;
    }
}
.wp-block-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1rem;
    background: $color__background-screen;

    th, td {
        padding: 0.5rem;
    }
}
.wp-block-media-text {
    margin-bottom: 1.4rem;
    grid-template-columns: 40% 1fr;
    align-items: start;

    .wp-block-media-text__content {
        align-self: start;
    }
    .wp-block-media-text__media {
        align-self: start !important;
    }
    h4 {
        font-size: 1.4rem;
    }
}